body>header {
  background: #b82d28;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

body>header nav {
  display: flex;
  align-items: center;
}

body>header nav ul {
  padding: 0px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body>header nav ul li {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

body>header nav ul li a {
  font-size: 1.63rem;
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

body>header nav ul li a svg {
  height: 2.63rem;
}

body>article {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

body>article #splash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
body>article #splash #details {
  padding-inline-end: 5em;
  margin-block-start: 10em;
}
body>article #splash #details #logo {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}
body>article #splash #details #logo h1 {
  font-size: 3rem;
}
body>article #splash #details #logo img {
  width: 2.96rem;
}

body>article #splash #details h1 {
  font-size: 4rem;
}

body>article #splash {
  text-align: center;
}

body>article img {
  width: 100%;
}

body>article section h2 {
  padding-inline-start: 1.63rem;
  background: #b82d28;
  color: #fafafa;
}

body>footer {
  color: #fafafa;
  padding: 25px;
  background: #b82d28;
  height: 50vh;
}

h1 {
  font-weight: 700;
}

h1, h2 {
  color: #b82d28;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 strong, h2 strong {
  color: #fafafa;
  background: #b82d28;
}

/* TODO: Make a max width for big monitors */
/* TODO: make a 1 column grid for small phones */
